#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.puntos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.punto-3{
  display: flex;
  gap: 1em;
}

.contador,
.reloj,
.nombre-edad,
.edad-estimada {
  padding: 1.5em;
  border: 1px solid hsl(0, 2%, 51%);
  border-radius: 50px;
  width: 350px;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.input {
  display: flex;
  border-radius: 10px;
  width: 40%;
  height: 2em;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: 1em;
}
